/* remove default margin/padding */
* {
  padding:0;
  margin: 0;
}

/* main body rules */
#body {
  margin: 0;
  padding: 1em;
  padding-top: 3em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: lightgoldenrodyellow;
  height: 100vh;
  font-family: 'Rubik', sans-serif;
}

/* getting page elements aligned properly */
.page-style {
  display: flex;
  flex-direction: row;
}

/* styling for side panels */
#nav-panel, .info-panel {
  margin: 1em 2.5em 0 2.5em;
  padding: 0;
  line-height: 1.5em;
}

/* fixing width so that page change doesn't change proportions */
.info-panel {
  width: 300px;
}

/* center nav menu links */
#nav-panel {
  text-align: center;
}

/* logo rules */
img {
  height: 150px;
  padding: 0 0 1em 0;
  margin: 0;
}

/* list style */
ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* h1, 2, link styling */
h1 {
  padding: 1rem;
  margin: 1rem;
}

h2 {
  margin: 0 0 1em 0;
}

a {
  text-decoration: none;
  color: black
}

a:hover {
  font-weight: 900;
  text-decoration: underline;
}
